:root {
  --color: #ae6056;
  --latarbelakang: #010101;
}

.poppins-thin {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--latarbelakang);
  color: var(--color);
}

/* navigasi */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #754039; /* tambahkan spasi sebelum hex code */
}

/* rasio pixel desktop */
@media (max-width: 1336px) {
  html {
    font-size: 75%;
  }
}

/* rasio pixel tab/ipad */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #menukami {
    display: inline-block;
  }
}

.navbar-nav {
  /* perbaiki selektor */
  position: absolute;
  top: 100%; /* pindahkan properti ke dalam selektor */
  right: -100%; /* pindahkan properti ke dalam selektor */
}

/* rasio pixel smartphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
